---
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>D.A. Kahn's website ᕙ(⇀‸↼‶)ᕗ</title>
    {% set css %} {% include "reset.css" %} {% include "main.css" %} {% endset
    %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <main>
      <header>
        <h1 class="site-name">D.A. KAHN</h1>
      </header>
      <p class="intro-paragraph">
      I'm an accessibility advocate and front-end developer specializing in helping to create accessible design systems and component libraries that accommodate users across the ability spectrum. Here's a link to my open source work on <a class="link" href="https://github.com/dakahn" target="_blank" rel="noopener noreferrer">Github</a>. You can contact me <a href="mailto:/">here</a>.</p>
      {% for post in posts %}
      <article>
        <h2 class="article-title">
          <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </h2>
      </article>
      {% endfor %}
    </main>
  </body>
</html>
