---
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>This is the website of D.A. Kahn</title>
    {% set css %} {% include "reset.css" %} {% include "main.css" %} {% endset
    %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <main>
      <header>
        <h1 class="site-name">@dakahn</h1>
      </header>
      <p class="intro-paragraph">
        I'm a frontend engineer specializing in helping to create accessible design systems and experiences across a spectrum of abilities and platforms. Here's a link to my open source work on <a href="https://github.com/dakahn" target="_blank" rel="noopener noreferrer">Github</a>.<span role="img" aria-label="me flexing with my eyes closed">ᕙ(⇀‸↼‶)ᕗ</span></p>
      {% for post in posts %}
      <article>
        <h2 class="article-title">
          <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </h2>
      </article>
      {% endfor %}
    </main>
  </body>
</html>
