<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>This is the website of D.A. Kahn</title>
    {% set css %} {% include "reset.css" %} {% include "main.css" %} {% include
    "prism.css" %} {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <a href="#main" id="skip-to-main" class="skip-link visible-on-focus">Skip to content</a>
    <header>
      <a href="/" class="site-name">@dakahn<span class="sr-only">return to homepage</span></a>
    </header>
    <main id="main">
      <article id="main-content">
        <h1 class="article article-title">{{ title }}</h1>
        <time id="time" datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>
        {{ content | safe }}
      </article>
    </main>
    <a href="#skip-to-main" class="skip-link">Back to top ↑</a>
  </body>
  <footer>
    © 2023-2024 D.A. Kahn
  </footer>
</html>
