<!DOCTYPE html>
<html lang="en">
  <head id="#top">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>This is the website of D.A. Kahn</title>
    {% set css %} {% include "reset.css" %} {% include "main.css" %} {% include
    "prism.css" %} {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <a href="#main-content" class="skip-link">Skip to main</a>
    <header>
      <a href="/" class="site-name site-name-article">D.A. Kahn</a>
    </header>
    <article role="main" id="main-content">
      <h2 class="article article-title">{{ title }}</h1>
      <time id="time" datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>
      {{ content | safe }}
    </article>
    <footer>
      <a href="#top" class="skip-link to-top">Back to top</a>
    </footer>
  </body>
</html>
