<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <title>This is the website of D.A. Kahn</title> 
  {% set css %}
    {% include "main.css" %}
  {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
   <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head> 
<body> 
  <a href="#main-content" class="skip-link">Skip to article</a>
  <header>
    <a href="/" class="site-name-article">I'm D.A. Kahn <span class="italic">and this is my website</span></a>
  </header>
  <article role="main" id="main-content">
    <h1 class="h1-article-title">{{ title }}</h1> 
    <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time> 
    {{ content | safe }}
  </article>
</body> 
</html>
