<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <title>D.A. KAHN DOT ZONE</title> 
  {% set css %}
    {% include "main.css" %}
  {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
</head> 
<body> 
  <header>
    <a href="/"></a><h1 class="site-name">I'm <span class="name">D.A. Kahn</span> and this is my website</h1></a>
  </header>
  <main> 
    {{ content | safe }}
  </main> 
</body> 
</html>
