:root {
  --background: #2d2d2d;
  --base: #CCCCCC;
  --secondary: #EE8C48;
}

html {
  font-size: 18px;
  display: flex;
}

body {
  min-height: 100vh;
  max-width: 90vw;
  margin: 0 auto;
  background-color: var(--background);
  color: var(--base);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Ubuntu", "Roboto", "Noto Sans", "Droid Sans", sans-serif;
  flex-direction: column;
}

a {
  color: var(--secondary);
}

a:hover {
  color: var(--secondary);
}

a:focus {
  color: var(--secondary);
  text-decoration: none;
}

svg {
  fill: var(--base)
}

footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 90%;
}

#logo {
  text-decoration: none;
  font-weight: normal;
  color: var(--base);
  font-size: 6rem;
}

#skip-to-content-link {
  font-size: 90%;
}

.article-title {
  color: var(--secondary);
  font-size: 1rem;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

@media only screen and (min-width: 800px) {
  html {
    margin-top: 2rem;
    font-size: 20px;
  }

  body {
    max-width: 692px;
    margin: 0 auto;
  }
}

