/* color scheme ref: https://superuser.com/questions/361299/what-colour-is-the-dark-green-on-old-fashioned-green-screen-computer-displays */
:root {
  --background: #181a1b;
  --base: #f8f8f2;
  --secondary: #00e0e1;
  --tertiary: #ffd700;
  font-size: calc(0.2vw + 0.1vh + 1em);
  display: flex;
  justify-content: center;
}

footer {
  font-size: 90%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-top: 1px solid var(--base);
  padding-top: 0.5rem;
}

body {
  background-color: var(--background);
  color: var(--base);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  text-rendering: optimizeLegibility;
  max-width: 95vw;
}

a {
  color: var(--secondary);
  text-decoration-skip-ink: none;
}

a:focus-visible {
  background-color: var(--tertiary);
  box-shadow: 0 0 0 3px var(--tertiary);
  color: var(--background);
  outline: none;
  text-decoration-thickness: 3px;
}

time {
  display: flex;
  font-size: 80%;
}

.visible-on-focus {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.visible-on-focus:active,
.visible-on-focus:focus {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
}

.name {
  color: var(--base);
  font-size: 3rem;
  text-decoration: none;
  font-weight: 400;
}

.skip-link {
  font-size: 90%;
}

#external-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 0;
}

#external-links li {
  margin-right: 0.5rem;
}

.article {
  display: flex;
  flex-direction: column;
  color: var(--secondary);
  font-size: 1rem;
}

#article-list {
  padding-left: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#article-list li {
  margin-bottom: 1rem;
}

.article-title {
  font-size: 1.5rem;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media only screen and (min-width: 60rem) {
  body {
    max-width: 680px;
  }

  header {
    margin-top: 4rem;
  }

  #article-list {
    padding-left: 0;
  }
}
